$black:    #111111;
$blue:     #3189CC;
$link-visited: #085A98;
$orange:   #FF7442;
$red:      #CA3B07;
$gray: #f2f2f2;
$gray-2: #cccccc;
$gray-3: #8F92A0;
$green-1:  #7CCC42;
$green-2:  #5DB220;

$header-font: 'Quantico', sans-serif;
$body-font: 'Quattrocento', serif;
