@import './variables';
@import './global';

@import './header';

@import './editor';
@import './index';

@import './footer';
body {
  font-family: $body-font;
  font-size:18px;
}

h1, h2, h3, h4, h5{
  font-family: $header-font, serif;
}

a {
  color: $blue;
  &:visited{
    color: $link-visited;
  }
}

article {
  font-family: 'Lora', serif;
}
