
.icon-github:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-twitter-bird:before { content: '\e802'; } /* '' */
.icon-th:before { content: '\e803'; } /* '' */
.icon-help:before { content: '\e804'; } /* '' */