<% include ../common/header %>
<script>
if(window.location.href.IndexOf('/generate/' >= 0){
  window.location.href = window.location.href.replace('/generate/', '/recipes/');
}
</script>
<h1> Page Not Found </h1>
<% include ../common/footer %>