<% include ../common/header %>
  <div id="whySVG">
    <h2>Should you use SVG graphics?</h2>
    <p>Scalable Vector Graphics look stunning on a high resolution monitors and will leave a bold impression on your viewers. They are superior to png images because they never become pixelated at high resolutions and the vectors can be dynamically modified using javascript. They have existed for over 10 years, yet modern web browsers have not supported them until recently. However, you must remember that if your page will be viewed in older web browsers then you should provide a fallback graphic (png) or else the graphic will not be visible. </p>
  </div>
  <div id="showcase">
    <div class="divider"></div>
  </div>
</div>
<% include ../common/footer %>