<% include ../common/header %>
<div class="homepage">
  <div class="welcome">
    <p>Scalable Vector Graphics are crisp and clear and can be rendered in all modern browsers. Developing a new graphic is easy, visit the <a href="//github.com/ddknoll/SVGeneration">github page</a> for instructions on how to contribute.</p>
  </div>
  <div id="showcase">
    <div class="divider"></div>
  </div>
</div>
<% include ../common/footer %>
