<% include ../common/header %>
  <div id="whySVG">
    <h2>SVGeneration</h2>
    <p>Scalable Vector Graphics always look sharp on high dpi monitors and can rendered dynamically in the browser. The SVG standard has existed for over 10 years, but web browsers have not supported them until recently. At this point, SVG graphics are supported by all major browsers. If you don't need to support browsers < IE9, then you're pretty safe using these graphics. Otherwise, you may want to gracefully fallback to another method.  Browse the graphics below and if you feel like contributing your own, then <a href="//github.com/ddknoll/SVGeneration'>commit them via github</a>.</p>
  </div>
  <div id="showcase">
    <div class="divider"></div>
  </div>
</div>
<% include ../common/footer %>