<% include ../common/header %>
<div class='top-story'>
	<div class="top-story-inner">
		<h1>Resources</h1>
		<p>Check back for new tutorials, articles, and graphics. Bookmark this page and add SVGeneration on Facebook and Twitter to  keep up to date. </p>

		<a href="https://twitter.com/SVGeneration" data-width="275px" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @SVGeneration</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		<div class="fb-like"  data-layout="button_count" data-href="https://www.facebook.com/pages/SVGeneration/376934672424882" data-send="false" data-width="275" data-show-faces="false"></div>
	</div>
</div>
<div class="main resources">
	<div id="article">
		<h2>Articles</h2>
		<ul>
			<li><a href="/learn/intro-to-svg">Intro to SVG</a></li>
			<li><a href="/learn/browser-support">Browser Support</a></li>
			<li><a href="/learn/svg-browser-bugs">Browser Rendering Bugs</a></li>
		</ul>
		<h2>Tutorials</h2>
		<ul>
			<li><a href="/learn/how-to-use">SVGeneration 101: How to use and Best Practices</a></li>		
			<li><a href="/learn/code-editor">Using the Code Editor</a></li>
		</ul>
		<h2>Tools</h2>
		<ul>
			<!--<li><a href="/learn/why">SVG Text Editor</a></li>-->
			<li><a href="/tools/base-64-decoder">Base-64 CSS Decoder</a></li>
			<!--<li><a href="/tools/svg-css-encoder">SVG CSS Encoder</a></li>-->
		</ul>
		<h2>External Links</h2>
		<ul>
				<li><a target='_blank' href="http://dbushell.com/2012/04/03/svg-use-it-already/">David Bushell - SVG: Use it Already</a></li>
				<li><a target='_blank' href="http://toddmotto.com/mastering-svg-use-for-a-retina-web-fallbacks-with-png-script/">Todd Motto - Mastering SVG Use for a Retina Web Fallbacks With png Script</a></li>
				<li><a target='_blank' href="http://coding.smashingmagazine.com/2012/01/16/resolution-independence-with-svg/">Smashing Magazine - Resolution Independence With SVG</a></li>
				<li><a target='_blank' href="http://alistapart.com/article/using-svg-for-flexible-scalable-and-fun-backgrounds-part-i">A List Apart - Using SVG for Flexible Scalable and Fun Backgrounds - Part 1</a></li>
				<li><a target='_blank' href="http://alistapart.com/article/using-svg-for-flexible-scalable-and-fun-backgrounds-part-ii">A List Apart - Using SVG for Flexible Scalable and Fun Backgrounds - Part 2</a></li>
				<li><a target='_blank' href="http://css-tricks.com/using-svg/">CSS-Tricks - Using SVG</a></li>
		</ul>
	</div>
	</div>
	<div style="clear:both;"></div>
</div>
<% include ../common/footer %>