<% include ../common/header %>
<div class='top-story'>
	<div class="top-story-inner">
		<h1>SVGeneration License</h1>
		<p>
		The graphics on this page are licensed under a modified version of the MIT License... I do not require you to give me credit or a donation.
		</p>
		<p>
		If my work has earned you money or saved you time, then some form of "thank you" would be greatly appreciated.
		</p>
	</div>
</div>
<div class="main resources">
	<div id="article">

		<h2>License</h2>

		<div style="border:1px solid #ddd; padding: 1em; border-radius: 5px;">
			<%
			var d = new Date()
			var year = d.getUTCFullYear() 
			%>
			<p>
			Copyright (c) <%= year %> SVGeneration
			</p>
			<p>
			Permission is hereby granted, free of charge, to any person obtaining a copy
			of these graphics, to use these graphics without restriction, including without limitation the rights
			to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
			copies of these graphics, and to permit persons to whom the graphics are
			furnished to do so, subject to the following conditions:
			</p>
			<p>
			THE GRAPHICS ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
			IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
			FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
			AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
			LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
			OUT OF OR IN CONNECTION WITH THE GRAPHICS OR THE USE OR OTHER DEALINGS IN
			THE GRAPHICS.
			</p>
		</div>
		<p>
		The articles provided on this site are for educational purposes only.  
		</p>
	</div>
</div>
<% include ../common/footer %>