<div id="footer">
	&copy;
	<script type="text/javascript">
	var d = new Date()
	document.write(d.getFullYear())
	</script>
	<noscript>
	2013
	</noscript>
	SVGeneration | <a href="/license.html">License</a> | <a href="/contact.html">Contact</a>
</div> 
<script src="/app.js"></script>
<script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.9.1.js'><\/script>".replace("HOST", location.hostname));
//]]></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40579003-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</div>
  </body>
</html>