<%
var title = (title ? title : 'SVGeneration' );
var description = (description ? description : 'Generate custom SVG graphics for use in graphic design projects.' )
var keywords = (keywords ? keywords : 'SVGeneration, svg, graphics, generate, pattern, background' );

console.log('metaURL needs wiring');
var metaURL = ("http://svgeneration.com");
var section = (section ? section : 'Showcase')
%>

<!DOCTYPE html>
<html>
  <head>
  	<meta name="google-site-verification" content="y71-o_WFAUd1plgZRa-7fJ-2x0NJK49gTBny9lAzbEI" />
  	<meta name="viewport" content="width=device-width">
  	<meta name="description" content="<%= description %>">
  	<meta property="og:title" content="SVGeneration" />
  	<meta property="og:type" content="website" />
  	<meta property="og:url" content="<%= metaURL %>" />
  	<meta property="og:image" content="http://svgeneration.com/images/brush_wrench_leaves.svg" />
  	<meta name="keywords" content="<%= keywords %>">
  	<meta http-equiv="content-type" content="text/html;charset=UTF-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" /> -->
    <title><%= (title ? title : 'SVGeneration' ) %></title>
    <link rel="stylesheet" href="/sources/fontello-e531d950/css/fontello.css">
    <link href='https://fonts.googleapis.com/css?family=Quantico:400,700|Quattrocento' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/sources/pure-min.css">
    <link rel="stylesheet" href="/sources/flick/jquery-ui.min.css">
    <link rel="stylesheet" href="/sources/spectrum/spectrum.css">
  </head>
  <body>
  <div class="react-element" id="editor-mount" data-react-component="SVGeneration.Navbar"></div>
