	<div id="right">
		<ul class="links">
			<li><a href="/resources">Resources</a></li>
			<li><a href="/contribute/license">License</a></li>
			<li><a href="/learn/beta">This site is BETA</a></li>
		</ul>

	<div id='twitter'><a href="https://twitter.com/SVGeneration" data-width="220px" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @SVGeneration</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>

	<div class="fb-like" data-href="https://www.facebook.com/pages/SVGeneration/376934672424882" data-send="false" data-width="280" data-show-faces="true"></div>
	<% include tagCloud %>
	</div>