<% include ../common/header %>
</style>
<div class="main contribute thanks">
	<div class="donate">
		<h1>Thanks</h1>
      <p>Thank you for your donation!  If you want to add a message to your donation, then fill out the following form.  Contributors are greatly appreciated and your comments and opinions will recieve extra attention.</p>
      <p>If you wanted to add a comment to your donation, then you may <a href='mailto:contact@svgeneration.com?subject=Donation Comment - Transaction <%= transaction %>'>send it here</a>.</p>
	</div>
</div>
<% include ../common/footer %>